/* ****************************************************** */
/* Author: Sebastian Weuthen
/* Style-Sheet-Definitionen
/* Last Modification: 2002-09-28
/* ****************************************************** */

body, table, tr, th, td, div {
font-size:12pt;
font-family:arial;
}

#flag {
position:fixed; 
left:0px; 
top:0px;
width:130px; 
height:50px;
padding:10px;
background-color: #ffffff;
}

#menu {
width:150px;
position:fixed; 
left:0px; 
top:70px;
}

#logo {
width:800px; 
height:70px;
position:fixed; 
left:150px; 
top:0px;
text-align:center;
}

div.naxostor {
background-image:url(images/menue/tor.gif);
background-repeat:no-repeat;
background-position:center center;
}

#content {
position:absolute;
z-index:-1;
top:170px;
left:150px;
width:800px;
padding-top:50px;
height:310px;
text-align:center;
}

#hotel {
position:absolute;
z-index:-1;
top:90px;
left:150px;
width:800px;
}

div.fenster {
width:800px;
text-align:center;
}

.unten
{
text-align:center;
font-size:7pt;
width:800px;
}

h1 {
font-size:14pt; 
font-family:arial;
font-weight:bold;
}

h1.allgemein {
font-size:12pt; 
font-family:arial;
font-weight:bold;
margin-top:0px;
margin-bottom:25px;
}

p.allgemein {
text-align:center;
margin-bottom:0px;
margin-top:5px;
}

a:link
{
color:#eeaa33;
text-decoration:none;
font-weight:bold;
}

a:visited
{
color:#eeaa33;
text-decoration:none;
font-weight:bold;
}

a:active
{
color:#eeaa33;
text-decoration:none;
}

a.klein:link
{
color:#eeaa33;
text-decoration:none;
font-size:7pt;
}

a.klein:visited
{
color:#eeaa33;
text-decoration:none;
font-size:7pt;
}

a.klein:active
{
color:#eeaa33;
text-decoration:none;
font-size:7pt;
}

img.menue {
margin-top:5px;
margin-bottom:10px;
}

img.hotel {
margin-right:10px;
}

span.klein
{
font-size:8pt;
}

span.fett
{
font-weight:bold;
}



